.vscode
src/backend/API/bin
src/backend/API/obj
src/backend/API/Logs
src/backend/API/Properties
src/backend/API/appsettings.Development.json
src/backend/API/appsettings.json
src/backend/Core/bin
src/backend/Core/obj
src/backend/Data/bin
src/backend/Data/obj
src/backend/Data/Migrations
src/backend/Models/obj
src/backend/Models/bin
src/backend/.DS_Store
src/backend/API/dump.rdb

chrome-profiler-events*.json
speed-measure-plugin*.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
frontend/website/.sass-cache
frontend/website/connect.lock
frontend/website/coverage
frontend/website/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
frontend/website/typings
.DS_Store
Thumbs.db
Makefile
.prettierrc
.eslintrc
.eslintignore